.heart {
    color: white;
    background-color: powderblue;
    height: 100px;
    width: 100px;
    font-size: 40px;
    text-align: left;
    display: grid;
    align-items: center;
    justify-items: center;
    border-radius:50%;
    box-shadow: inset 4px 4px 4px grey;
    text-shadow: 3px 3px 3px grey;
    transition-duration: 0.2s;
    cursor: pointer;
}
.heart:hover {
    text-shadow: 6px 6px 4px grey;
    transform: rotate(-15deg);
}
.heart:active {
    text-shadow: 2px 2px 2px gray;
    color: red;
    transform: rotate(5deg);
    font-size: 50px;
}
.box {
    width: fit-content;
    padding: 5px 20px;
    font-family: monospace;
    text-align: left;
    background-color: lightblue;
    margin: 0 ;
}